@import "settings/include-media/include-media";
@import "settings/colours";
@import "settings/fonts";
@import "pdf/pdf-text-styles";
@import "tools/mixins";
@import "base/base";
@import "reset/reset";
@import "pdf/pdf-content-from-editor";

/* stylelint-disable */
@page {
  margin : 32.8mm 19.7mm 19.7mm;
  size   : A4 portrait;
}

@page coverPage {
  margin : 0;
}

// Position the header into top-center and footer into bottom right.
// Target a named paged specifically to avoid this applying to
// pages like the cover page, final page, etc.
// @see https://www.pagedjs.org/documentation/07-generated-content-in-margin-boxes/
@page bodyPage {
  // Control specific margin areas, adding
  // named content from above into them.
  @top-left {
    content     : element(headerRunning);
    align-items : start;
    margin-top  : 42pt;
    width       : 90%;
  }

  @top-right {
    @include pdf-ts-running-header;
    align-items : start;
    content     : counter(page);
    margin-top  : 42pt;
  }
}

@page tocPage {

}

.c-pdf {
  .c-embed,
  .c-full-width-media {
    break-before : page;
  }

  .o-section {
    padding : 0;
  }

  .o-container {
    padding : 0;

    > * {
      grid-column : 1 / 10;
    }
  }

  .o-content-from-editor {
    @include pdf-content-from-editor;
  }

  &__page-number {
    content : counter(page);
  }

  &__logo {
    img {
      height : 30pt;
      width  : 201pt;
    }
  }

  &__cover {
    background-color : $secondary;
    color            : $grey-light;
    display          : flex;
    flex-direction   : column;
    height           : var(--pagedjs-pagebox-height);

    // Mark the cover div as a specific unique page layout.
    page             : coverPage;
  }

  &__cover-wrapper {
    display         : flex;
    flex-direction  : column;
    height          : 100%;
    justify-content : space-between;
  }

  &__cover-top {
    display         : flex;
    flex-direction  : column;
    height          : 100%;
    justify-content : space-between;
    margin-left     : 42pt;
    padding         : 56pt 0;
  }

  &__cover-content {
    width : calc(100% - 42pt);
  }

  &__cover-image {
    height : auto;
    width  : 100%;
  }

  &__cover-meta {
    align-items      : center;
    background-color : $white;
    display          : flex;
    justify-content  : space-between;
    padding          : 26pt 42pt;
  }

  &__cover-meta-text {
    @include pdf-ts-cover-meta;
    color : $primary;
  }

  &__cover-meta-logos {
    display : flex;
    gap     : 16pt;
  }

  &__cover-meta-logo {
    img {
      max-height : 39pt;
    }
  }

  &__authors-list {
    display    : flex;
    flex-wrap  : wrap;
    gap        : 4pt;
    margin-top : 20pt;
  }

  &__author {
    @include pdf-ts-cover-meta;

    &:after {
      content : ", ";
    }

    &:last-child,
    &:only-child {
      &:after {
        content : none;
      }
    }
  }

  &__date {
    @include pdf-ts-cover-meta;
    margin-top : 8pt;
  }

  &__heading {
    @include pdf-ts-cover-heading;
  }

  &__sub-heading {
    @include pdf-ts-cover-sub-heading;
    margin-top : 20pt;
  }

  &__body {
    // Reset the page number when this class is first hit.
    // Yep, it can be anything!
    counter-reset : page 1;
    line-height   : 2rem;
    // Mark the header as having a custom PagedJS position.
    position      : running(headerRunning);

    // Mark the body div as a specific unique page layout.
    page          : bodyPage;
  }

  &__footer {
    background-color : lightcoral;
    // Mark the footer as having a custom PagedJS position.
    position         : running(footerRunning);
  }

  &__toc {
    page : tocPage;
  }
}

.pdf-running-header {
  @include pdf-ts-running-header;
  position : running(headerRunning);

  &:before {
    border-top : 1pt solid $grey-light;
    content    : "";
    display    : block;
    position   : absolute;
    width      : 100%;
  }

  &__title {
    display     : block;
    padding-top : 8pt;
  }
}

//Customisations to the cover page.
.pagedjs_first_page {
  .pagedjs_pagebox {
    // Remove all margin areas by effectively deleting the
    // grid sizes. Yep, you can do things like this per page.
    // You can also target :first page, :nth page etc.
    grid-template-columns : 0;
    grid-template-rows    : 0;

    // Add a background to make this clear on PDF render.
    margin                : 0;
  }
}

// Customisations to the generated PagedJS content, eg to apply css
// to the entire header.
// In this case, to bodyPage only (named page from above).
.pagedjs_bodyPage_page {
  .pagedjs_margin-top {
    position : relative;
  }

  .pagedjs_margin-top-right > .pagedjs_margin-content {
    &:after {
      padding-top : 8pt;
    }
  }
}
