{{ attach_library('nrgi/pdf-contents') }}
<div class="c-pdf__toc u-page-break js-table-of-contents-wrapper">
  <div class="c-pdf__toc-wrapper">
    <h2 class="c-pdf__toc-title">{{ "Contents"|t }}</h2>

    <ul class="c-pdf__toc-list" id="pdf-contents">
    </ul>
  </div>
</div>


