<article class="c-pdf c-pdf--back-cover">
  <div class="c-pdf__container">
    <footer class="c-pdf__footer">
      <div class="c-pdf__logo-wrapper">
        <img class="c-pdf__logo-left" src="/{{ base_path ~ directory }}/assets/img/logo-with-text.svg" alt=""/>
      </div>

      {% if site_settings.page_to_pdf.page_to_pdf_footer_notes %}
        <div class="c-pdf__notes">
          {{ site_settings.page_to_pdf.page_to_pdf_footer_notes|nl2br }}
        </div>
      {% endif %}

      {% if site_settings.page_to_pdf.page_to_pdf_footer_credits %}
        <div class="c-pdf__credits">
          {{ site_settings.page_to_pdf.page_to_pdf_footer_credits|nl2br }}
        </div>
      {% endif %}
    </footer>
  </div>
</article>
