<article class="c-pdf c-pdf--intro">
  <div class="c-pdf__container">
    <p class="c-pdf__short-description">{{ content.field_short_description }}</p>

    {% if content.field_image_caption|field_value or content.field_image_credit|field_value %}
      <div class="c-pdf__image-meta">
        {% if content.field_image_credit|field_value %}
          <p class="c-pdf__image-credit">
            {{ content.field_image_credit }}
          </p>
        {% endif %}

        {% if content.field_image_caption|field_value or content.field_image_credit|field_value %}
          <p class="c-pdf__image-caption">
            {{ content.field_image_caption }}
          </p>
        {% endif %}
      </div>
    {% endif %}
  </div>
</article>
