{{ attach_library('nrgi/pdf-contents') }}
<div class="c-pdf__toc">
  <div class="c-pdf__toc-wrapper js-table-of-contents-wrapper">
    <h2 class="c-pdf__toc-title">{{ "Contents"|t }}</h2>
  </div>
</div>


