<footer class="c-pdf__backcover" style="background-color: #00545a; color: white">
  <div class="c-pdf c-pdf--info">
    <div class="c-text-block__container o-container">
      {% if site_settings['page-to-pdf'].about_nrgi_back_cover.field_title %}
        <h2>{{ site_settings['page-to-pdf'].about_nrgi_back_cover.field_title }}</h2>
      {% endif %}

      {% if site_settings['page-to-pdf'].about_nrgi_back_cover.field_body %}
        {{ site_settings['page-to-pdf'].about_nrgi_back_cover.field_body.value|raw }}
      {% endif %}
    </div>
</footer>
