<div class="c-call-to-action">

  <img class="c-call-to-action__image"
       src="https://images.unsplash.com/photo-1500622944204-b135684e99fd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2061&q=80"
       alt="A placeholder image of some hills!">

  <div class="c-call-to-action__content">
    <h1 class="c-call-to-action__title">Call to action headline.</h1>
    <p class="c-call-to-action__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu nisi
      nisl. Suspendisse cursus scelerisque elit, et tempus turpis convallis et.</p>
    <a class="c-call-to-action__link">Find out more.</a>

    {#    <svg id="outerContainer" viewBox="0 0 757 662" xmlns="http://www.w3.org/2000/svg"> #}
    {#      <g filter="url(#filter0_b_24_7711)"> #}
    {#        <path #}
    {#          d="M215 662L36.2688 532.639C13.4888 516.151 0.000105679 489.737 0.000262405 461.616L3.21278e-05 0.000915527L757 -2.79456e-05L757 662L215 662Z" #}
    {#          fill="#25E1AF"/> #}
    {#      </g> #}
    {#      <defs> #}
    {#        <filter id="filter0_b_24_7711" x="-44" y="-44" width="845" height="750" filterUnits="userSpaceOnUse" #}
    {#                color-interpolation-filters="sRGB"> #}
    {#          <feFlood flood-opacity="0" result="BackgroundImageFix"/> #}
    {#          <feGaussianBlur in="BackgroundImage" stdDeviation="22"/> #}
    {#          <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_24_7711"/> #}
    {#          <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_24_7711" result="shape"/> #}
    {#        </filter> #}
    {#      </defs> #}
    {#    </svg> #}
  </div>
</div>
