<div class="c-call-to-action">
  <div class="c-call-to-action--no-image">
    {#  <img class="c-call-to-action__image" #}
    {#       src="https://images.unsplash.com/photo-1500622944204-b135684e99fd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2061&q=80" #}
    {#       alt="A placeholder image of some hills!"> #}
    <div class="c-call-to-action__content">
      <h1 class="c-call-to-action__title">Call to action headline.</h1>
      <p class="c-call-to-action__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu
        nisi
        nisl. Suspendisse cursus scelerisque elit, et tempus turpis convallis et.</p>
      <div class="c-call-to-action__link-css-triangle"></div>
      <a class="c-call-to-action__link">Find out more.</a>
    </div>
  </div>
</div>
