<div class=c-featured-people>
  <hr>
  <section class="c-featured-people-inner">
    <h1 class="c-featured-people__section-header">Featured People</h1>
    <a class="c-featured-people__link" href="">View more</a>
  </section>
</div>
