<div class="full-width-media">
  <div class="full-width-media-content">
    <img
      src="https://images.unsplash.com/photo-1500622944204-b135684e99fd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2061&q=80"
      alt="A placeholder image of some hills">
    <span class="">An example of an image caption that is around 70 characters in length. <em>Image Credit</em></span>
  </div>
</div>
