<div class="c-full-width-media">
  <div class="c-full-width-media__content">
    <figure>
      <img class="c-full-width-media__image"
           src="https://images.unsplash.com/photo-1500622944204-b135684e99fd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2061&q=80"
           alt="A placeholder image of some hills"><br>
      <figcaption
        class="c-full-width-media__caption">An example of an image caption that is around 70 characters in length. <em>Image
          Credit</em></figcaption>
    </figure>
  </div>
</div>
