{# <section class="c-language-bar"> #}
{#  <div class="o-container"> #}
{#    <div class="c-language-bar__inner"> #}
{#      <h3 class="c-language-bar__title"> #}
{#        {{ text|upper }} #}
{#      </h3> #}

{#      <ul class="c-language-bar__links-list"> #}
{#        {% for link in links %} #}
{#          <li class="c-language-bar__links-item"> #}
{#            <a class="c-language-bar__link" href="{{ link.url }}" title="{{ text ~ " " ~ link.title }}"> #}
{#              {% include '@nrgi/svg/svg.html.twig' with {'svg': 'arrow-right', 'extra_class': 'c-language-bar__link-svg' } %} #}

{#              <span class="c-language-bar__link-label">{{ link.title }}</span> #}
{#            </a> #}
{#          </li> #}
{#        {% endfor %} #}
{#      </ul> #}
{#    </div> #}
{#  </div> #}
{# </section> #}
