{# <div style="background-color: yellow"> #}
{#  <h3> #}
{#    {{ text|upper }} #}
{#  </h3> #}
{#  {% for link in links %} #}
{#    <a href="{{ link.url }}" title="{{ text ~ " " ~ link.title }}"> #}
{#      #}{# SBTODO: arrow icon #}
{#      -> #}
{#      {{ link.title }} #}
{#    </a> #}
{#  {% endfor %} #}
{# </div> #}
