<div class="c-person-card">
  <img class="c-person-card__image"
       src="https://images.unsplash.com/photo-1557425747-929b65a39785?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
       alt="a placeholder image of a worker">
  <div class="c-person-card__content">
    <h1 class="c-person-card__title">Name of Employee</h1>
    <p class="c-person-card__description">Region<br>Job Title</p>
  </div>
</div>
