<div class="c-speakers">
  <h2 class="c-speakers__heading">Speakers</h2>
  <div class="c-speakers__flex-box">
    <div class="c-speakers__flex-item">
      <div class="c-speakers__content">
        <h3 class="c-speakers__card-title">Matthieu Salomon</h3>
        <h4 class="c-speakers__role">Host</h4>
        <span class="c-speakers__organisation">Organisation name</span>
      </div>
    </div>
    <div class="c-speakers__flex-item">
      <div class="c-speakers__content">
        <h3 class="c-speakers__card-title">Matthieu Salomon</h3>
        <h4 class="c-speakers__role">Host</h4>
        <span class="c-speakers__organisation">Organisation name</span>
      </div>
    </div>
    <!-- Second line of boxes -->
    <div class="c-speakers__flex-item">
      <div class="c-speakers__content">
        <h3 class="c-speakers__card-title">Matthieu Salomon</h3>
        <h4 class="c-speakers__role">Host</h4>
        <span class="c-speakers__organisation">Organisation name</span>
      </div>
    </div>
    <div class="c-speakers__flex-item">
      <div class="c-speakers__content">
        <h3 class="c-speakers__card-title">Matthieu Salomon</h3>
        <h4 class="c-speakers__role">Host</h4>
        <span class="c-speakers__organisation">Organisation name</span>
      </div>
    </div>
    <!-- Third line of boxes -->
    <div class="c-speakers__flex-item">
      <div class="c-speakers__content">
        <h3 class="c-speakers__card-title">Matthieu Salomon</h3>
        <h4 class="c-speakers__role">Host</h4>
        <span class="c-speakers__organisation">Organisation name</span>
      </div>
    </div>
    <div class="c-speakers__flex-item">
      <div class="c-speakers__content">
        <h3 class="c-speakers__card-title">Matthieu Salomon</h3>
        <h4 class="c-speakers__role">Host</h4>
        <span class="c-speakers__organisation">Organisation name</span>
      </div>
    </div>
    <h2 class="c-speakers__heading">Event Schedule</h2>
  </div>
</div>
