/** @define o-button */
@mixin o-button {
  @include ts-button;
  align-items   : center;
  border        : 0.0625rem solid $primary;
  color         : $primary;
  display       : inline-flex;
  gap           : var(--space-xs);
  padding       : 0.625rem 1rem;
  transition    : background-color 0.3s;
  border-radius : 2.75rem;

  &:focus,
  &:hover {
    background : $grey-light;
  }
}

.o-button {
  @include o-button;

  &--white {
    border-color : $white;
    color        : $white;

    &:focus,
    &:hover {
      background-color : rgba($primary, 0.4);
    }
  }
}
