@mixin o-button {
  @include ts-button;
  align-items      : center;
  background-color : $black;
  border           : 0;
  box-sizing       : border-box;
  color            : $white;
  cursor           : pointer;
  display          : inline-flex;
  justify-content  : space-between;
  padding          : var(--space-s) var(--space-m);
  text-align       : left;
}

.o-button {
  @include o-button;

  &__icon-wrapper {
    align-items      : center;
    background-color : $white;
    border-radius    : 100%;
    color            : $black;
    display          : flex;
    height           : 24px;
    justify-content  : center;
    width            : 24px;
  }
}

