.o-content-from-editor {
  p {
    @include ts-body;
  }

  h2 {
    @include ts-heading-3;
    margin-top : var(--space-3xl);
  }

  h3 {
    @include ts-heading-4;
  }

  h4,
  h5 {
    @include ts-heading-5;
    font-weight : 700;
  }

  h6 {
    @include ts-sub-heading;
    font-weight : 700;
  }

  h3,
  h4,
  h5,
  h6 {
    margin-top : var(--space-2xl);
  }

  h2 + p {
    margin-top : var(--space-xl);
  }

  h3 + p {
    margin-top : var(--space-l);
  }

  h4 + p {
    margin-top : var(--space-m);
  }

  h5 + p,
  h6 + p {
    margin-top : var(--space-s);
  }

  a {
    // replace with link mixin when merged with frontend
    color           : $ocean-2;
    text-decoration : underline;
    transition      : color 0.3s;

    &:focus,
    &:hover {
      color           : $primary;
      text-decoration : underline;
    }
  }

  > :last-child {
    margin-bottom : 0;
  }

  img {
    display   : block;
    height    : auto;
    max-width : 100%;
    width     : auto;

    &.size-large {
      margin-left  : 0;
      margin-right : 0;
      width        : 100%;
    }

    &.size-full-width,
    &.size-full-width-retina {
      // SBTODO: Full width images breaking out?
    }
  }

  figure {
    margin-top : var(--space-s);

    figcaption {
      box-sizing : border-box;
      display    : inline-block;
      padding    : var(--space-xs) var(--space-s);
      width      : 100%;
    }
  }

  h1 + p,
  h2 + p,
  h3 + p,
  h4 + p,
  h5 + p,
  h6 + p,
  p + p {
    margin-top : var(--space-m);
  }

  /* Block Quotes
  ================================================== */
  blockquote {
    margin : var(--space-2xl) 0 var(--space-2xl) var(--space-s);

    @include media("<=tablet") {
      margin-left : var(--space-m);
    }

    p {
      @include ts-heading-6;
      color         : $secondary;
      margin-bottom : 0;
    }
  }

  /* Aligned Images
  ================================================== */
  .alignleft,
  .align-left {
    float  : left;
    margin : var(--space-s) var(--space-m) var(--space-s) 0;
  }

  .aligncenter,
  .align-center {
    display : block;
    margin  : var(--space-m) auto;
  }

  .alignright,
  .align-right {
    float  : right;
    margin : var(--space-s) 0 var(--space-m) var(--space-s);
  }

  .alignnone {
    display   : block;
    height    : auto;
    margin    : var(--space-l) 0;
    max-width : 100%;

    @include media("<=tablet") {
      margin-top : var(--space-m);
    }
  }

  .alignleft,
  .alignright,
  .alignnone {
    @include media("<=tablet") {
      display       : block;
      float         : none;
      margin-bottom : var(--space-s);
      margin-left   : 0;
    }
  }

  /* Lists
  ================================================== */
  ol {
    list-style : decimal;

    ul {
      list-style : disc;
    }

    ol {
      list-style : lower-latin;
    }
  }

  /* stylelint-disable-next-line */
  ul {
    list-style : disc;

    ol {
      list-style : decimal;
    }
  }

  /* stylelint-disable-next-line */
  ul,
  ol {
    @include ts-body;
    margin : var(--space-s) 0 var(--space-s) var(--space-xl);

    @include media("<=tablet") {
      margin-left : var(--space-l);
    }

    ul,
    ol {
      margin : var(--space-s) 0 var(--space-s) var(--space-xl);

      @include media("<=tablet") {
        margin-left : var(--space-l);
      }
    }

    li {
      margin-bottom : var(--space-s);

      &::marker {
        color : $turquoise-light;
      }
    }
  }

  /* Miscellaneous
  ================================================== */
  address {
    @include ts-body;
    font-style : italic;
  }

  big {
    font-size : 120%;
  }

  small {
    font-size : 80%;
  }

  cite {
    font-weight : 700;
  }

  q {
    font-style : italic;
  }

  code,
  var {
    font-family : Consolas, monospace;
  }

  div {
    margin-top : var(--space-m);
  }
}
