/** @define o-section */
.o-section {
  margin-top : var(--space-3xl);

  /* Modifiers
  ================================================== */
  &--has-background {
    padding : var(--space-xl);
  }

  /* stylelint-disable-next-line */
  &--has-background + &--has-background {
    margin-top : 0;
  }
}
