/** @define o-section */
.o-section {
  margin-top : var(--space-xl);

  @include media("<=tablet") {
    margin-top : var(--space-l);
  }

  /* Modifiers
  ================================================== */
  &--has-background {
    padding : var(--space-xl);
  }

  /* stylelint-disable-next-line */
  &--has-background + &--has-background {
    margin-top : 0;
  }
}
