/** @define o-svg */
.o-svg {
  &--search {
    background-color : tomato;
    height           : 1.25rem;
    width            : 1.25rem;
  }

  /* #Social
  ================================================== */
  &--facebook {
    height : 1rem;
    width  : 1rem;
  }

  &--linkedin {
    height : 0.875rem;
    width  : 0.9375rem;
  }

  &--twitter {
    height : 0.875rem;
    width  : 1.125rem;
  }

  &--youtube {
    height : 0.813rem;
    width  : 1.125rem;
  }

  &--arrow-right {
    height : 13px;
    width  : 22px;
  }
}
