{% set classes = [
  'o-section',
  'o-section--wysiwyg',
  'c-wysiwyg',
] %}

{% set rendered = content|render %}
{% if rendered|striptags|trim is not empty %}
  <div{{ attributes.addClass(classes) }}>
    <div class="c-full_width_media__inner o-content-from-editor">
      {% if content.field_caption|field_caption %}
        {{ content.field_caption }}
      {% endif %}

      {% if content.field_credit|field_credit %}
        {{ content.field_credit }}
      {% endif %}

      {% if content.field_media_image|field_media_image %}
        {{ content.field_media_image }}
      {% endif %}
    </div>
  </div>
{% endif %}
