{% if content.field_embed_media|field_value %}
  <figure class="c-embed">
    <div class="c-embed__container o-container">
      <div class="c-embed__media-wrapper">
        {{ content.field_embed_media }}
      </div>

      {% if content.field_caption|field_value %}
        <figcaption class="c-embed__caption">
          {% if content.field_caption|field_value %}
            <span>{{ content.field_caption }}</span>
          {% endif %}

          <span>•</span>

          {% if content.field_credit|field_value %}
            <span>{{ content.field_credit }}</span>
          {% endif %}
        </figcaption>
      {% endif %}
    </div>
  </figure>
{% endif %}
