{% if content.field_media|field_value %}
  <div{{ attributes.addClass(classes) }}>
    <div style="background-color: navajowhite; padding:20px; width: 100%; border: #0a7bc1 1px dotted;">
      {% if content.field_media|field_value %}
        {{ content.field_media }}
      {% endif %}

      {% if content.field_caption|field_value %}
        {{ content.field_caption }}
      {% endif %}

      {% if content.field_credit|field_value %}
        {{ content.field_credit }}
      {% endif %}

    </div>
  </div>
{% endif %}
