{% set classes = [
  'o-section',
  'o-section--wysiwyg',
  'c-wysiwyg',
] %}

{% set rendered = content|render %}
{% if rendered|striptags|trim is not empty %}
  <div{{ attributes.addClass(classes) }}>
    <div class="c-wysiwyg__inner o-content-from-editor">
      {{ rendered }}
    </div>
  </div>
{% endif %}
