{% if content.field_media|field_value %}
  <figure class="c-full-width-media o-section">
    <div class="o-container">
      <div class="c-full-width-media__image-wrapper">
        {{ content.field_media }}
      </div>

      {% if content.field_caption|field_value %}
        <figcaption>
          {% if content.field_caption|field_value %}
            {{ content.field_caption }}
          {% endif %}

          {% if content.field_credit|field_value %}
            {{ content.field_credit }}
          {% endif %}
        </figcaption>
      {% endif %}
    </div>
  </figure>
{% endif %}
