{% set classes = [
  'c-quote',
  'o-section',
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}

<section{{ attributes.addClass(classes) }}>
  <div style="padding: 20px; border:1px indianred dotted; background-color: coral">
    [quote]
    {% if content.field_quotation|field_value %}
      <blockquote style="font-size: 48px">{{ "“#{content.field_quotation|field_raw('value')}”" }}</blockquote>
    {% endif %}

    {% if content.field_quote_author|field_value %}
      <p>{{ content.field_quote_author }}</p>
    {% endif %}
  </div>
</section>