{% set classes = [
  'c-node',
  'c-node--type-' ~ node.bundle|clean_class,
] %}

<article{{ attributes.addClass(classes) }}>
  {% include "@nrgi/node-partials/node--single-header.html.twig" %}
  <div class="c-single-content {% if content.field_featured_image|field_value %} c-single-content--has-featured-image {% endif %}
">
    <div class="c-single-content__top">
      {# FEATURED IMAGE #}
      {% if content.field_featured_image|field_value %}
        <div class="c-single-content__image-container">
          <div class="c-single-content__image-wrapper">
            {{ content.field_featured_image }}
          </div>
        </div>
      {% endif %}

      {# Sidebar #}
      <div class="c-single-content__sidebar">
        {% include '@nrgi/node-partials/node--sidebar.html.twig' with {
          'layout_modifier': 'c-meta-rows--sidebar'
        } %}
      </div>
    </div>

    {% if content.field_page_builder|field_value %}
      {{ content.field_page_builder }}
    {% endif %}
  </div>
</article>
