{% set classes = [
  'c-node',
  'c-node--type-' ~ node.bundle|clean_class,
] %}

<article{{ attributes.addClass(classes) }}>
  {% include '@nrgi/node-partials/node--single-header.html.twig' %}

  {% if node.bundle == 'publication' %}
    {% include 'node--toc.html.twig' %}
  {% endif %}

  <div class="c-single-content {% if content.field_featured_image|field_value %} c-single-content--has-featured-image {% endif %}
">
    <div class="c-single-content__top">
      {# FEATURED IMAGE #}
      {% if content.field_featured_image|field_value %}
        <div class="c-single-content__image-container">
          <div class="c-single-content__image-wrapper">
            {{ content.field_featured_image }}
          </div>
        </div>
      {% endif %}

      {# Sidebar #}
      <div class="c-single-content__sidebar">
        {% include '@nrgi/node-partials/node--sidebar.html.twig' with {
          'layout_modifier': 'c-meta-rows--sidebar'
        } %}
      </div>
    </div>

    {% if content.field_page_builder|field_value %}
      {{ content.field_page_builder }}
    {% endif %}
  </div>

  {# AUTHORS SECTION on resources only (publication/article) #}
  {% if authors %}
    {% include '@nrgi/node-partials/node--authors-bottom.html.twig' %}
  {% endif %}

  {% include '@nrgi/node-partials/node--metadata.html.twig' %}

  {#  RELATED CONTENT #}
  {% if related_nodes is not empty %}
    {% include 'node--related-content-block.html.twig' %}
  {% endif %}
</article>
