{% set classes = [
  'c-node',
  'c-node--type-' ~ node.bundle|clean_class,
] %}
<div class="c-node__content-header">
  <div style="background-color: red">
    <h1>Header:</h1>
    {% include "@nrgi/node-partials/node--header.html.twig" %}
  </div>
</div>
<article{{ attributes.addClass(classes) }}>

  {# FEATURED IMAGE #}
  {% if content.field_featured_image|field_value %}
    <div>
      {{ content.field_featured_image }}
    </div>
  {% endif %}

  {#  SIDEBAR #}
  <div style="background-color: yellow">
    <h1>SIDEBAR:</h1>
    {% include '@nrgi/node-partials/node--sidebar.html.twig' %}
  </div>

  <div style="background-color: orange">
    <h1>PAGE BUILDER:</h1>
    {% if content.field_page_builder|field_value %}
      {{ content.field_page_builder }}
    {% endif %}
  </div>

  {#  METADATA #}
  <div style="background-color: green">
    <h1>METADATA:</h1>
    {% include '@nrgi/node-partials/node--metadata.html.twig' %}
  </div>

  {#  RELATED CONTENT #}
  {% if related_nodes is not empty %}
    {% include 'node--related-content-block.html.twig' %}
  {% endif %}

</article>
