{% set classes = [
  'c-node',
  'c-node--type-' ~ node.bundle|clean_class,
] %}

<header {{ attributes.addClass(classes) }}>

  {% if field_ %}
  <h1 class="c-node__title">{{ label }}</h1>


</header>