{% set classes = [
  'c-node',
  'c-node--type-' ~ node.bundle|clean_class,
] %}

<article{{ attributes.addClass(classes) }}>
  {% if node.bundle !='event' %}
    {% include "@nrgi/node-partials/node--header.html.twig" %}
  {% else %}
    {% include "@nrgi/node-partials/node--event-header.html.twig" %}
  {% endif %}

  {# FEATURED IMAGE #}
  {% if content.field_featured_image|field_value %}
    <div>
      {{ content.field_featured_image }}
    </div>
  {% endif %}

  {% include '@nrgi/node-partials/node--sidebar.html.twig' %}

  {% if content.field_page_builder|field_value %}
    {{ content.field_page_builder }}
  {% endif %}

  {# AUTHORS SECTION on resources only (publication/article) #}

  {% if authors %}
    {% include '@nrgi/node-partials/node--authors-bottom.html.twig' %}
  {% endif %}

  {% include '@nrgi/node-partials/node--metadata.html.twig' %}

  {#  RELATED CONTENT #}
  {% if related_nodes is not empty %}
    {% include 'node--related-content-block.html.twig' %}
  {% endif %}
</article>
