/* Icons */
.button.c-layout-expand, .button.c-layout-collapse {
  background-color: white;
  background-image: url('../img/width-arrow.png');
  background-position: center;
  background-size: 20px auto;
  background-repeat: no-repeat;
  font-size: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.button.c-layout-collapse {
  background-image: url('../img/compression.png');
  /* Initially hidden. */
  display: none;
}

.button.c-layout-expand:hover, .button.c-layout-collapse:hover {
  background-color: #d3d4d9;
}

/* Remove relative position from fieldset wrapper. */
.node-form fieldset.layout-paragraphs-field > .fieldset-wrapper,
.node-form fieldset.layout-paragraphs-field > .fieldset__wrapper {
  position: initial;
}

/* Handle expansion */
.layout-node-form.is-expanded .layout-region {
  float: none;
  padding-right: 0;
  width: auto;
}

.layout-node-form.is-expanded .layout-region--node-footer {
  margin-top: 1.5rem;
}

.layout-node-form.is-expanded .button.c-layout-collapse {
  display: inline-block;
}

.layout-node-form.is-expanded .button.c-layout-expand {
  display: none;
}
