/* #General body
================================================== */
@mixin ts-body($small : false) {
  font-size   : 1rem;
  line-height : 1.5;

  @include media("<=tablet") {

  }

  @if ($small) {
    @include media("<=tablet") {

    }
  }
}

/* #Headings
================================================== */
@mixin ts-heading-1 {
  font-weight : 700;

  @include media("<=tablet") {

  }
}

@mixin ts-heading-2 {
  font-weight : 700;

  @include media("<=tablet") {

  }
}

@mixin ts-heading-3 {
  font-weight : 700;

  @include media("<=tablet") {

  }
}

@mixin ts-heading-4 {
  font-weight : 700;

  @include media("<=tablet") {

  }
}

@mixin ts-heading-5 {
  font-weight : 700;

  @include media("<=tablet") {

  }
}

@mixin ts-heading-6 {
  font-weight : 700;

  @include media("<=tablet") {

  }
}

@mixin ts-subtitle($small : false) {

  @include media("<=tablet") {

  }
}

/* Buttons
================================================== */
@mixin ts-button($small : false) {

  @include media("<=tablet") {

  }
}

/* Labels
================================================== */
@mixin ts-label {

  @include media("<=tablet") {

  }
}

/* Miscellaneous
================================================== */
@mixin ts-pullquote {

  @include media("<=tablet") {

  }
}

@mixin ts-caption {

  @include media("<=tablet") {

  }
}
