{% for item in items %}
  <a class="o-button c-single-header__button"
     href="{{ item.content['#url'] }}"
     title="{{ item.content['#title'] }}"
      {{ item.content['#options'].external ? 'target="_blank"' }}>
    {{ item.content['#title'] }}
  </a>
{% endfor %}
