{{ attach_library('nrgi/pdf-styling') }}

<div class="pdf-running-header">
  <span class="pdf-running-header__title">{{ label }}</span>
</div>

<article class="c-pdf">
  {# Page header #}
  {% include 'node--pdf-cover.html.twig' %}

  {# Table of contents #}
  {% include 'node--pdf-contents.html.twig' %}

  {# Body #}
  <div class="c-pdf__body">
    {% include 'node--body.html.twig' %}
  </div>

  {# Endnotes #}
  <div class="c-pdf c-pdf--footnotes u-page-break">
    {{ drupal_block('footnotes_group') }}
  </div>

  {# PDF info #}
  <div class="c-pdf c-pdf--info u-page-break">
    {% include 'node--pdf-info.html.twig' %}
  </div>

  {# Back cover #}
  <div class="c-pdf c-pdf--info u-page-break">
    {% include 'node--pdf-backcover.html.twig' %}
  </div>
</article>

