{{ attach_library('nrgi/pdf-styling') }}

<div class="pdf-running-header">
  <span class="pdf-running-header__title">{{ label }}</span>
</div>

<article class="c-pdf">
  {# Page header #}
  {% include 'node--pdf-cover.html.twig' %}

  {# Table of contents #}
  {% include 'node--pdf-contents.html.twig' %}

  {# Body #}
  <div class="c-pdf__body">
    {% include 'node--body.html.twig' %}

    {# Endnotes #}
    <div class="c-pdf__footnotes u-page-break">
      <h2 class="c-pdf__footnotes-title">
        {{ 'Endnotes'|t }}
      </h2>
      {{ drupal_block('footnotes_group') }}
    </div>
  </div>

  {# PDF info #}
  {% include 'node--pdf-info.html.twig' %}

  {# Back cover #}
  {% include 'node--pdf-backcover.html.twig' %}
</article>

