{% set classes = [
  'c-footnotes',
  'o-section'
] %}
<section{{ attributes.addClass(classes) }}>
  <div class="o-container">
    <header class="o-section__header">
      <h2 class="o-section__heading">{{ 'Notes'|t }}</h2>
    </header>
    {% block content %}
      <div class="c-footnotes__container">
        {{ content }}
      </div>
    {% endblock %}
  </div>
</section>
