.c-featured-people {
  @include o-container;

  .c-featured-people-inner {
    display: flex;
    justify-content: space-between;
  }

  &__section-header {
    @include ts-section-header;
    display: inline-block;
  }

  &__link-css-triangle {
    border: 8px solid black;
    border-bottom-color: transparent;
    border-left-color: $primary--orange;
    border-right-color: transparent;
    border-top-color: transparent;
    color: white;
    //display: inline-block;
    height: 0;
    margin-left: 77%;
  }

  &__link {
    @include ts-button;
    padding-top: 8px;
  }

  &__flex-container {
    flex-direction: row;
    width: 33%;
  }
}
