/* stylelint-disable */
.views-exposed-form {
  .fieldgroup:not(.c-filter--field-active-filters, .form-type-entity-autocomplete) {
    .c-filter__items {
      display : none;
    }

    legend {
      @include ts-button;
      background-color : $grey-light;
      cursor           : pointer;
      padding          : 1rem;
      position         : relative;
      transition       : background-color 0.3s;
      width            : 100%;

      @include media("<=tablet") {
        padding : 0.75rem 1rem;
      }

      &:after {
        content    : url("../img/chevron-down.svg");
        position   : absolute;
        right      : 1rem;
        transition : transform 0.3s;
      }

      &.is-clicked {
        background-color : $peach-2;

        &:after {
          transform : rotate(180deg);
        }
      }
    }

    label {
      @include ts-button;
      align-items      : center;
      background-color : $tertiary;
      box-sizing       : border-box;
      cursor           : pointer;
      display          : flex;
      padding          : 1rem 1rem 1rem 2.5rem;
      position         : relative;
      transition       : background-color 0.3s;
      width            : 100%;

      @include media("<=tablet") {
        padding : 0.75rem 1rem;
      }

      &:before {
        background-color : transparent;
        box-sizing       : border-box;
        content          : "";
        display          : block;
        height           : 0.5rem;
        left             : var(--space-s);
        position         : absolute;
        transition       : background-color 0.3s;
        width            : 0.5rem;
      }
    }

    // Input
    input {
      @include accessible-hide;
    }

    input:checked + label:before {
      background-color : $primary;
    }

    input:focus + label {
      background-color : $peach-2;
    }
  }

  .c-filter {
    &--active-filters {
      display    : flex;
      flex-wrap  : wrap;
      gap        : 0.5rem;
      margin-top : var(--space-l);

      label {
        @include o-button;
        @include ts-tag;
        padding  : 0.5rem 2rem 0.5rem 0.75rem;
        position : relative;

        &:after {
          content  : url("../img/cross.svg");
          position : absolute;
          right    : 0.625rem;
        }
      }
    }

    &__submit-buttons {
      display    : flex;
      gap        : var(--space-xs);
      margin-top : var(--space-l);
    }

    &__button {
      @include o-button;
      border : 0;
      margin : 0;

      &--submit {

      }

      &--clear {

      }
    }
  }
}
