/** @define c-footer */
.c-footer {
  background : no-repeat center / cover url("../img/footer-bg.png");
  color      : $white;
  height     : 75vh;
  padding    : var(--space-4xl) 0 var(--space-2xl) 0;

  @include media("<=tablet") {
    height      : auto;
    padding-top : var(--space-3xl);
  }

  &__container {
    display         : flex;
    flex-direction  : column;
    height          : 100%;
    justify-content : space-between;

    @include media("<=tablet") {
      gap : var(--space-4xl);
    }
  }

  &__top {
    @include grid;
  }

  &__content-wrapper {
    grid-column : 1 / 8;

    @include media("<=tablet") {
      grid-column : 1 / -1;
    }
  }

  &__buttons {
    grid-column : 1 / -1;
  }

  &__inner {

  }

  &__description {
    margin-top : var(--space-m);
  }

  &__buttons {
    align-items : center;
    display     : flex;
    gap         : 0.25rem;
    margin-top  : var(--space-xl);

    @include media("<=tablet") {
      align-items    : start;
      flex-direction : column;
      gap            : var(--space-m);
    }
  }

  &__divider {
    @include media("<=tablet") {
      display : none;
    }
  }

  &__button {

  }

  &__bottom {
    display             : grid;
    grid-column-gap     : var(--space-2xl);
    grid-row-gap        : var(--space-2xl);
    grid-template-areas : "top-left top-right" "bottom-left bottom-right";

    @include media("<=tablet") {
      grid-row-gap        : 0;
      grid-template-areas : "first" "second" "third";
    }
  }

  &__logo {
    grid-area : top-left;

    @include media("<=tablet") {
      grid-area  : second;
      margin-top : var(--space-xl);
    }

    svg {
      @include media("<=tablet") {
        height : 1.5rem;
        width  : 4.9375rem;
      }
    }
  }

  &__menu-wrapper {
    grid-area    : top-right;
    max-width    : 29.75rem;
    justify-self : end;

    @include media("<=tablet") {
      grid-area    : first;
      max-width    : 100%;
      justify-self : start;
    }
  }

  &__menu {
    display         : flex;
    flex-wrap       : wrap;
    justify-content : flex-end;
    column-gap      : var(--space-m);
    row-gap         : var(--space-s);

    @include media("<=tablet") {
      flex-direction : column;
      row-gap        : var(--space-m);
    }
  }

  &__credits-wrapper {
    display         : flex;
    grid-column     : 1 / -1;
    justify-content : space-between;

    @include media("<=tablet") {
      display    : block;
      margin-top : var(--space-4xl);
    }
  }
}
