.c-footnotes {
  $c : &;

  &__list {
    @include ts-caption;
    columns    : 2;
    column-gap : var(--space-l);

    @include media("<=tablet") {
      columns : 1;
    }
  }

  &__list-item {
    display       : flex;
    margin-bottom : var(--space-s);

    &:last-child {
      margin-bottom : 0;
    }
  }

  &__list-label {
    @include underlined(currentColor);
  }

  &__list-content {
    margin-left : var(--space-s);

    a {
      word-break : break-all;
    }
  }

  .c-pdf & {
    margin-top : 20pt;

    #{$c}__header {
      border        : none;
      margin-bottom : 20pt;
      padding       : 0;
    }

    #{$c}__heading {
      color       : $secondary;
      font-size   : 30pt;
      line-height : 1.2;
    }

    #{$c}__list {
      font-size  : 7pt;
      column-gap : 21pt;
    }

    #{$c}__list-item {
      margin-bottom : 7pt;
    }

    #{$c}__list-label {
      color : $secondary;
    }

    &__list-content {
      margin-left : 8pt;
    }
  }
}
