/** @define c-main-menu */
.c-main-menu {
  $c        : &;
  display   : flex;
  flex-wrap : wrap;
  gap       : var(--space-m);

  @include media("<desktop") {
    flex-direction : column;
  }

  &__item {
    font-size : 0;

    @include media("<desktop") {
      border-top : 1px solid blue;
      padding    : 40px;
    }

    &:hover {
      @include media(">desktop") {
        .c-mega-nav {
          //display : block !important; // Important to override JS show/hide
          display : block;
        }

        #{$c}__button-svg {
          transform : rotate(180deg);
        }
      }
    }

    @include media(">desktop") {
      &:hover,
      &:focus {
        > #{$c}__item-link-wrapper > #{$c}__item-link {
          text-decoration-color : $white;
        }

        //#{$c}__sub-menu {
        //  display : block;
        //}
        //
        //#{$c}__sub-menu-svg {
        //  transform : rotateX(180deg);
        //}
      }
    }

    &--expanded {
      #{$c}__item-link {
        position : relative;

        &:before {
          background : transparent;
          content    : "";
          height     : 17px;
          position   : absolute;
          top        : 100%;
          width      : 100%;
        }
      }
    }
  }

  &__item-link-wrapper {
    @include media(">=desktop") {
      align-items     : center;
      display         : flex;
      justify-content : space-between;
    }
  }

  &__item-link {
    @include ts-main-menu;
    @include underlined($white);

    /* stylelint-disable-next-line */
    &.is-active {
      text-decoration-color : $white;
    }
  }

  //&__sub-menu {
  //  display : none;
  //}
  //
  &__sub-menu-button {
    display : none;

    @include media("<desktop") {
      display    : block;
      transition : all 0.3s;

      &:not(.is-clicked) {
        #{$c}__sub-menu-svg {
          transform : rotateX(0) translateY(10px);
        }
      }

      &:hover,
      &:focus {

        #{$c}__sub-menu-svg {
          color : grey;
        }
      }
    }

    &.is-clicked {
      /* stylelint-disable-next-line */
      #{$c}__sub-menu-svg {
        transform : rotateX(180deg) translateY(10px);
      }
    }
  }
}
