.c-meta-rows {
  &__container {
    @include grid;
  }

  &__inner {
    grid-column : 1 / 9;

    @include media("<=tablet") {
      grid-column : 1 / 1;
    }
  }

  &__row {
    border-top  : 1px solid $white;
    padding-top : var(--space-xs);
  }

  &__label {
    span {
      @include ts-card-tag;
    }
  }
}
