.c-person-card {

  &__image {
    display: block;
    left: 0;
    position: absolute;
    width: 15%;

  }

  &__content {
    background-color: $secondary--green--2;
    display: block;
    height: 10vw;
    margin-left: 15%;
    position: relative;
    width: 15vw;
  }

  &__image:hover {
    filter: sepia(75%)
  }

  &__content:hover {
    background-color: $primary--orange;
  }

  &__title {
    @include ts-card-title;
    font-size: 24px;
    padding: 2% 2% 0 2%;
  }

  &__description {
    @include ts-label($medium: true);
    padding: 2% 2% 0 2%;
    width: 50%;
  }
}
