.c-quote {
  $c               : &;
  background-color : $tertiary;

  &__text {
    @include ts-heading-3;
    position : relative;

    &:after,
    &:before {
      position : absolute;
    }

    &:before {
      content   : "“";
      left      : 0;
      transform : translateX(-100%);
    }

    &:after {
      content : "”";
    }
  }

  &__caption {
    @include ts-body;
    font-weight : 500;
    margin-top  : var(--space-s);
  }

  &--pdf {
    background-color : unset;
    color            : $secondary;
    break-inside     : avoid;

    #{$c}__text {
      font-size   : 20pt;
      line-height : 1.3;

      &:after,
      &:before {
        display : none;
      }
    }

    #{$c}__caption {
      font-size   : 9pt;
      line-height : 1.75;
      margin-top  : 4pt;
    }
  }
}
