/** @define c-secondary-menu */
.c-secondary-menu {
  display         : flex;
  flex-wrap       : wrap;
  gap             : 24px;
  justify-content : flex-end;

  @include media("<desktop") {
    flex-direction  : column;
    justify-content : flex-start;
  }

  &__item-link {
    @include ts-sub-menu;
    @include underlined($white);
  }
}
