/** @define c-single-header */
.c-single-header {
  $c               : &;
  background-color : lightskyblue;
  color            : $white;
  padding-bottom   : 160px;
  padding-top      : 196px;

  &__container {
    @include grid;
    @include o-container;
  }

  &__inner {
    grid-column : 1 / -1;
  }

  &__breadcrumbs {
    margin-top : 48px;
  }

  &__title {
    @include ts-heading-2;
    margin-top : 96px;
  }

  &__subtitle {
    @include ts-heading-4;
  }

  &__subtitle-item {
    @include media("<=tablet") {
      display : block;
    }

    &:not(:first-child) {
      &:before {
        content : "•";
        margin  : 0 4px;

        @include media("<=tablet") {
          content : none;
        }
      }
    }
  }

  &__meta {
    margin-top : 32px;
  }

  &__meta-item,
  &__subtype,
  &__date,
  &__authors-list,
  &__author-item {
    display : inline;
  }

  &__meta-item {
    &:not(:first-child) {
      &:before {
        content  : "•";
        margin   : 0 12px;
        position : relative;
      }
    }
  }

  &__subtype {
    @include ts-caption($bold : true);
  }

  &__date {
    @include ts-caption;
  }

  &__author-item {
    @include ts-caption;

    &:not(:last-child):after {
      content : ",";
      margin  : 0 2px 0 -4px;
    }
  }

  &__author-name {
    &--link {
      @include underlined-off($offset : 0.125rem);
    }
  }

  &__buttons-wrapper {
    display    : flex;
    gap        : 32px;
    margin-top : 32px;
  }
}
