table {
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
  border-collapse: collapse;
  display: block;
  margin: auto;
  max-width: 100%;
  overflow-x: auto;
  width: fit-content;

  th, td {
    border     : 1px solid $black;
    text-align : left;

    &:last-child {
      text-align : right;
    }
  }

  th {
    background-color : $primary;
    color            : $white;
  }

  tr:nth-child(odd) {
    background-color : $grey;
  }
}
