$black          : #000;
$grey           : #999;
$white          : #fff;

// SBTODO rename primary to name of primary colour throughout assets/scss.
$primary        : #1e1e46;
$primary--light : #303046;

