$black: #000;
$grey: #999;
$white: #fff;
$secondary--green--2: #E5F3F0;
$primary: #1e1e46;
$primary--light: #303046;
$primary--orange: #FF5722;
$primary--orange--1: #FF8A50;

// SBTODO rename primary to name of primary colour throughout assets/scss.

