/* Spacing
================================================== */
:root {
  --space-xxs : 0.25rem; // 4px
  --space-xs  : 0.5rem; // 8px
  --space-s   : 1rem; // 16px
  --space-m   : 1.5rem; // 24px
  --space-l   : 2rem; // 32px
  --space-xl  : 3rem; // 48px
  --space-2xl : 4rem; // 64px
  --space-3xl : 6rem; // 96px
  --gutter    : 2rem;

  @include media("<=tablet") {
    --gutter : 1rem;
  }
}
