@mixin pdf-content-from-editor {
  > * {
    &:first-child {
      margin-top : 0;
    }
  }

  p {
    @include pdf-ts-body;
    margin-top : 24pt;
  }

  h2 {
    @include pdf-ts-heading-main;
    margin-top : 36pt;
  }

  h3 {
    @include pdf-ts-cover-sub-heading;
  }

  h4 {
    @include sans-heading;
    font-size   : 16pt;
    line-height : 1.3;
    font-weight : 500;
  }

  h5 {
    @include sans-heading;
    font-size   : 14pt;
    line-height : 1.3;
    font-weight : 500;
  }

  h6 {
    @include pdf-ts-body;
    font-weight : 700;
    margin-top  : 20pt;
  }

  h3,
  h4,
  h5 {
    margin-top : 24pt;
  }

  h2 + p {
    margin-top : 20pt;
  }

  h3 + p {
    margin-top : 12pt;
  }

  h4 + p {
    margin-top : 8pt;
  }

  h5 + p,
  h6 + p {
    margin-top : 4pt;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    color : $secondary;
  }

  blockquote {
    margin : 24pt 0 0 16pt;

    p {
      @include sans-heading;
      font-size     : 14pt;
      line-height   : 1.3;
      font-weight   : 500;
      margin-bottom : 0;
    }
  }

  .standfirst {
    /* stylelint-disable-next-line */
    > * {
      @include sans-heading;
      font-size   : 14pt;
      line-height : 1.3;
      font-weight : 500;
      margin-top  : 0;
    }
  }

  figure {
    margin-top : 24pt;

    figcaption {
      @include pdf-ts-media-caption;
      margin-top : 8pt;
    }

    > .c-media + figcaption {
      margin-top : 24pt;
    }
  }

  /* stylelint-disable-next-line */
  ul,
  ol {
    @include pdf-ts-body;
    margin : 4pt 0 4pt 12pt;

    li {
      margin-bottom : 4pt;

      &::marker {
        color : $tertiary;
      }
    }
  }

  .c-media {
    &--data-visualisation,
    &--remote-audio,
    &--remote-video {
      display : none;
    }

    &--fallback-image {
      break-inside : avoid;

      .c-media {
        margin-top : 0;
      }
    }
  }

  .boxed-text {
    padding      : 20pt 12pt;
    break-inside : avoid;
    width        : calc(var(--pagedjs-pagebox-width) - (var(--pagedjs-margin-right) + var(--pagedjs-margin-right)));
    /* stylelint-disable-next-line */
    > * {
      &:first-child {
        margin-top : 0;
      }
    }

    p {
      margin-top : 4pt;
    }

    h2 {
      font-size   : 16pt;
      line-height : 1.3;
    }

    h3,
    h4 {
      font-size   : 12pt;
      line-height : 1.3;
      font-weight : 700;
    }

    h5,
    h6 {
      @include sans-body;
      font-size   : 9pt;
      line-height : 1.75;
      font-weight : 500;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      color      : $primary;
      margin-top : 12pt;
    }
  }

  .responsive-table {
    margin-top : 24pt;
  }

  table {
    tbody {
      tr {
        border-top : 1pt solid $tertiary;

        &:last-child {
          border-bottom : 1pt solid $tertiary;
        }
      }
    }

    th {
      @include pdf-ts-body;
      padding     : 0 8pt 8pt 0;
      font-weight : 700;
    }

    td {
      @include pdf-ts-body;
      min-width : 5rem;
      padding   : 7pt 10pt 7pt 0;
    }
  }
}

.pdf-content-from-editor {
  @include pdf-content-from-editor;
}
